/* Add CSS Styling */

.clickMe, .no-clickMe {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;

}
.clickMe {
    color: white;
    background-color: black;
}

.no-clickMe {
    background-color: yellow;
}